html, body{
  margin:0px;
  padding:0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}


/* style for the class buttons" */
.button {     
transition-duration: 0.4s;              
border-radius: 4px;
padding: 8px;
text-align: center;
display: inline-block;  /*the top and bottom margins/paddings are respected*/
margin: 5px;
cursor: pointer;
}


/* button transition effect */
.button:hover {
background-color:#dee4de; 
color: #2696A3;}
    


/* Dashboard button*/
.button2 {
  background-color: #3d4e6b;
  color: white;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 75px;
  padding-right: 75px;
  text-decoration: none;
}   

.button2:hover {
  background-color: #199ef2;
  color: #ffffff;
  text-decoration: none;
}

/* Sign up - Log in button*/   
.button3 {
background-color: #ffffff;  
font-family: Arial, Helvetica, sans-serif; 
border:1px solid #88b0c0;
color: #414BB2; 
font-size: 18px;
margin-right: 15px;
padding: 10px;
}    
        
     

.content{ 
  position: absolute;
  background: #050505;
  width: 100%;
  height: 90%;
  left: 0px;
} 
    


/* style for the  class "dep_readable" */   
.dep_readable{
position: absolute;
top: 0px;
width: 40%;
bottom: 0px;
left: 0px;
background-image: url("https://www.perrakispapers.gr/media/1586/ice-white.jpeg?mode=pad&width=1200&upscale=false");
}



/* style for the  class "dashboard" */   
.dashboard{
display: flex;           /* button centered horizontically-vertically*/
align-items: center;     
justify-content: center; 
background: #540e4c96;
position: absolute;
left: 40%;
width: 60%;
/*top: 0px;*/
right: 0px;
height: 40%;
/*text-align:center;   Dashboard button centered horizontically*/
}


/* style for the  class "universities" */
.universities{
background: #34686b;
position: absolute;
left: 40%;
right: 0px;
width: 60%;
top: 40%;
height: 60%;}



/* style for the table */
table {
  margin: auto;
  /* background-color: #5f4b8b63; */
  opacity: 6.5;
  border-style: hidden;
  width: 70%;
  height: 90;
  margin-top: 4.5%;
  
}
       


tr, td {
  border: 1px solid
  rgb(88 23 23 / 25%);
  border-radius: 4px;
  padding: 13px;
  font-size: 18px;
  text-align: center;
  /* opacity: 1; */
  
}




p { 
margin: auto;
font-family: "Noto Sans", sans-serif;
font-style: italic;
border-radius: 4px;
background-color: #3d4e6b; 
color: #ffffff; 
width: 70%;
text-align: center;
padding: 2px;
}

.copyright {     /*footer*/
  background: #3d4e6b;  
  position: absolute;
  width: 100%;   
  bottom: 0;
  height: 5%;
  left: 0px;
  right: 0px;
  text-align: center;
  min-height: 50px;
}

.text-white {
  padding-top: 1.1%;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}   

/*header nav_bar*/
.navbar-light .navbar-nav .nav-link {    
  color: rgb(255 255 255);
} 


/*welcome message*/
.wel {                
  position: absolute;
  top: 25%;
  color: #98ccff;
}

.dashb {
  position: absolute;
  top: 50%;
}

/*table buttons*/
.btn-link{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.btn:hover{
  
  color:white;
  text-decoration: underline;
  /*color:#000000;*/

}
