<!DOCTYPE html>
<html lang="en">

 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Test Data Dashboard">
  <meta name="author" content="Nikolas Tsakiris">
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Development Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href={{ url_for('static', filename='css/main.css') }} rel="stylesheet" media="screen">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
 </head>




 <body>

  <div class="form-group">
    <form method="post">
        <select class="form-control" aria-label="Default select example" id="operator" name="operator">
          <option value="#">Tμήματα</option>
          <option value="πληροφορική">Πληροφορική</option>
          <option value="ιατρική">Ιατρική</option>
          <option value="λογιστική">Λογιστική</option>
        </select>
      <input type="submit" value="Submit" class="btn btn-primary btn-sm">
      <button type="button" class="btn btn-info" id="save_selections" onclick="myFunction()">Save Selections</button>
      <p id="demo"></p>
    </form> 
  </div>
  



  <canvas id="bar_chart"></canvas>
  <canvas id="line_chart"></canvas>
  <h5>{{department_name}}</h5>




  <script type="text/javascript">
    function myFunction() {
      let text = "This action will save all your preferences!";
      if (confirm(text) == true) {
        text = "Your preference(s) have been saved!";
      } else {
        text = "You canceled!";
      }
      document.getElementById("demo").innerHTML = text;
    }
  </script>




  <script type="text/javascript">
    const cbx = document.getElementById('bar_chart');
    new Chart(cbx, {
      type: 'bar',
      data: {
        labels: [
          {% for item in labels %}
          "{{ item }}",
          {% endfor %}
        ],
        datasets: [{
          label: 'Base of Last',
          data: [
            {% for item in values %}
            "{{ item }}",
            {% endfor %}
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

<script type="text/javascript">
  const clx = document.getElementById('line_chart');
    new Chart(clx, {
      type: 'line',
      data : {
        labels: [
          {% for item in labels2 %}
          "{{ item }}",
          {% endfor %}
        ],
        datasets: [{
          label: 'Bases throught the Years',
          data: [
            {% for item in values2 %}
            "{{ item }}",
            {% endfor %}
          ],
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }]
      }
    });
</script>




</body>


</html>
