{% extends "base-auth.html" %}

{% block content %}
  <h1 class="title1">
    Καλωσόρισες, {{ username }}!<br><br>
  </h1>
  <h2 class="title2">Τα αποθηκευμένα σου ταμπλό:</h2><br>
    {% for item in stm %}
      <p id="{{ item[0] }}" onclick="style.textDecoration = 'line-through'; style.color = '#00ffdc'; style.fontStyle = 'italic'; onclick=collect(this.id); dis()"> {{ item[1] }}, {{ item[2] }}, {{ item[3] }}, {{ item[4] }}</p>
    {% endfor %}

  <form id="delTablsForm" method="POST" action="/delTabls">
    <br><br>
    <input id="btn" type="submit" class="btn btn-danger btn-sm btn_dark" value="Διαγραφή επιλεγμένων" onclick="allgood()">
    <br><br><br><h2 id="demo" class="title3"></h2>
  </form>
  <form id="delUserForm" method="POST" action="/delUser">
    <input id="btn" type="submit" class="btn btn-danger btn-sm btn_light " value="Διαγραφή χρήστη">
  </form>

  <script>
  function collect(uid) {
    console.log('allIN', uid)
    var form = document.getElementById('delTablsForm');
    
    var input = document.createElement("input");
    input.id = 'input-' + uid;
    input.type = 'hidden';
    input.name = uid;
    input.textContent = uid;
    form.appendChild(input);
  };
  
  </script>

<script type="text/javascript">
  function allgood() {
    document.getElementById("demo").innerHTML = "Διαγράφηκαν Ταμπλό! Ανανέωσε τη σελίδα.";
  }
</script>

{% endblock %}
